[submodule "public"]
	path = public
	url = https://github.com/iquizoo/iquizoo.github.io
[submodule "themes/hugo-xmin"]
	path = themes/hugo-xmin
	url = https://github.com/iquizoo/hugo-xmin
[submodule "content/post/refs"]
	path = data/refs
	url = https://github.com/psychelzh/lit-refs
