body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:270px;
}
#u20 {
  position:absolute;
  left:2px;
  top:127px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  position:absolute;
  left:57px;
  top:30px;
  width:48px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  position:absolute;
  left:160px;
  top:30px;
  width:48px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  position:absolute;
  left:273px;
  top:32px;
  width:48px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  position:absolute;
  left:382px;
  top:32px;
  width:48px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  position:absolute;
  left:160px;
  top:85px;
  width:48px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  position:absolute;
  left:57px;
  top:85px;
  width:48px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  position:absolute;
  left:273px;
  top:87px;
  width:48px;
  height:40px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  position:absolute;
  left:382px;
  top:87px;
  width:48px;
  height:40px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  position:absolute;
  left:57px;
  top:143px;
  width:48px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  position:absolute;
  left:160px;
  top:143px;
  width:48px;
  height:40px;
}
#u40 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  position:absolute;
  left:273px;
  top:145px;
  width:48px;
  height:40px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43 {
  position:absolute;
  left:382px;
  top:145px;
  width:48px;
  height:40px;
}
#u44 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45 {
  position:absolute;
  left:57px;
  top:197px;
  width:48px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47 {
  position:absolute;
  left:160px;
  top:197px;
  width:48px;
  height:40px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  position:absolute;
  left:273px;
  top:199px;
  width:48px;
  height:40px;
}
#u50 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  position:absolute;
  left:382px;
  top:199px;
  width:48px;
  height:40px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:99px;
}
#u53 {
  position:absolute;
  left:161px;
  top:84px;
  width:159px;
  height:99px;
}
#u54 {
  position:absolute;
  left:2px;
  top:42px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
